<domain type="kvm" xmlns:qemu="http://libvirt.org/schemas/domain/qemu/1.0">
  <name>{{ vm_def.vm_domain }}</name>
  <metadata>
    <libosinfo:libosinfo xmlns:libosinfo="http://libosinfo.org/xmlns/libvirt/domain/1.0">
      <libosinfo:os id="http://microsoft.com/win/10"/>
    </libosinfo:libosinfo>
  </metadata>
  <memory>{{ vm_def.memory }}</memory>
  <currentMemory>{{ vm_def.memory }}</currentMemory>
  <memoryBacking>
    <hugepages>
      <page size='{{ vm_def.hugepage_size }}' unit='KiB'/>
    </hugepages>
    <nosharepages/>
    <source type='memfd'/>
    <access mode='shared'/>
    <allocation mode='immediate'/>
  </memoryBacking>
  <vcpu>4</vcpu>
  <os>
    <type arch="x86_64" machine="q35">hvm</type>
    <boot dev="hd"/>
  </os>
  <features>
    <acpi/>
    <apic/>
    <hyperv>
      <relaxed state="on"/>
      <vapic state="on"/>
      <spinlocks state="on" retries="8191"/>
    </hyperv>
    <vmport state="off"/>
  </features>
  <cpu mode="host-passthrough"/>
  <clock offset="localtime">
    <timer name="rtc" tickpolicy="catchup"/>
    <timer name="pit" tickpolicy="delay"/>
    <timer name="hpet" present="no"/>
    <timer name="hypervclock" present="yes"/>
  </clock>
  <pm>
    <suspend-to-mem enabled="no"/>
    <suspend-to-disk enabled="no"/>
  </pm>
  <devices>
    <emulator>/usr/bin/qemu-system-x86_64</emulator>
    <disk type="file" device="disk">
      <driver name="qemu" type="qcow2" cache="none" discard="unmap"/>
      <source file="{{ vm_def.vm_full_path }}"/>
      <target dev="vda" bus="virtio"/>
    </disk>
    <controller type="usb" model="qemu-xhci" ports="15"/>
    <hostdev mode='subsystem' type='pci' managed='yes'>
      <source>
        <address domain='0x0000' bus='0x00' slot='0x02' function='0x{{vm_def.gpu_sriov_func}}'/>
      </source>
      <address type='pci' domain='0x0000' bus='0x02' slot='0x00' function='0x0'/>
    </hostdev>
    <interface type='network'>
      <source network='vm-default'/>
      <model type='virtio'/>
    </interface>
    <interface type='network'>
      <source network='vxlanbr120'/>
      <model type='virtio'/>
    </interface>
    <disk type="file" device="cdrom">
      <driver name="qemu" type="raw"/>
      <source file="/var/lib/libvirt/images/virtio-win.iso"/>
      <target dev="sdc" bus="sata"/>
      <readonly/>
    </disk>
  </devices>
  <qemu:commandline>
    <qemu:arg value='-device'/>
    <qemu:arg value='virtio-vga,max_outputs=1,blob=true'/>
    <qemu:arg value='-display'/>
    <qemu:arg value='{{vm_def.virt_display}},gl=on,monitor.0=0'/>
    <qemu:env name='DISPLAY' value=':0'/>
  </qemu:commandline>
</domain>

