---
vms_def:
{% for vm_link in vms_links %}
{% if profile_name == "ifpd" %}
   - vm_image_name: {{ vm_link.vm_image }}
     hugepage_size: 2048
     vm_domain: {{ vm_link.vm_name }}
     vm_full_path: {{ vm_project_root_dir }}/{{vm_link.vm_image}}
     gpu_sriov_func: {{ loop.index }}
     memory: 4194304
     virt_display: gtk
{% else %}
   - vm_image_name = ubuntu.qcow2
     hugepage_size: 2048
     vm_domain: {{ vm_link.vm_name }}
     vm_full_path: {{ vm_project_root_dir }}/{{vm_link.vm_image}}
     memory: 4194304
{% endif %}
{% endfor %}
